body {
    background-color: rgb(255,255,255);
    text-align: center;
    margin: 100px auto;
}

img {
    height: 200px ;
    width: 600px;
    margin: 10px;
}

.searchbar {
    height: 30px;
    width: 550px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(240,240,240);
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.marginleft {
    margin-left: 30px
}

.marginright {
    margin-right: 30px
}